.slika{
	margin-top: 40px;
	
}
.panelH{
    
    background-color: #333 !important;
    color: #337ab7 !important;
}
.panelB{
	
	background-image:url("../images/sm.png");
}
.textheight{
    height: 140px;
}

.cartB{
	
	background-color:#333;
	padding: 5px;
	border-radius: 5px;
	width: 220px;
}

.qty{
	width: 50px !important; 
	margin-left: 5px;
}
#cartL{
	
	color:#337ab7 ;
	text-align:center;
	margin-left: 5px;
}
#info{
	
	margin-top:20px;
	
}
.confirmo{
    margin-top: 30px;
}